:root {
    --text: #120524;
    --background: #f9f5fe;
    --primary: #b474fc;
    --secondary: #ef84d9;
    --accent: #e95898;


}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins';
    background: url(../img/fond.png) no-repeat;
    background-size:cover;
}

button:hover{
    transform: scale(1.1);
}

/********* NAVBAR *********/
.navbar{
    background-color: #0000002a;
    box-shadow: 0 0 10px rgba(92, 92, 92, 0.3);
}

.nav-link{
    font-weight: 400;
    color: var(--background);
    margin: 0 30px;
}

.nav-link.active{
    font-weight: 600;
}
.navbar form{
    position: absolute;
    right: 0;
}
/********* ACCOMPAGNATEURS *********/
.page-acc{
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.page-acc .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eaeaea;
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    width: fit-content;
}

.page-acc .container:nth-child(1){
    margin-bottom: 4rem;
}

.page-acc h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.7rem;
    margin: 1rem 4rem;
}

.page-acc .input-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.6rem;
}

.page-acc label{
    font-weight: 500;
}

.page-acc input{
    border-radius: 6px;
    outline: none;
    border: 1px solid #ddd;
    padding: 10px 15px;
}

.btn_creer{
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: var(--accent);
    padding: 10px 20px;
    margin-top: 10px;
    transition: .3s;
}

.un_acc{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    padding: 10px 1rem;
}

.box_list{
    width: 100%;
    outline: none;
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0.6rem;
    text-align: start;
}

.btn_supp{
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: #ff3f3f;
    padding: 10px 20px;
    transition: .3s;
}
.un_acc .btn_supp{
    margin-left: 1rem;
}

/********* Formulaire de connexion *********/

