:root {
    --text: #120524;
    --background: #f9f5fe;
    --primary: #b474fc;
    --secondary: #ef84d9;
    --accent: #e95898;


}

html{
    scroll-behavior: smooth;
  }

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins';
    background: url(../img/fond.png) no-repeat;
    background-size:cover;
}

button:hover.zoom{
    transform: scale(1.1);
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-30%);
    transition: all .5s;
  }
  .show{
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0%);
    transition: all .5s;
  }
.alert{
    text-align: center;
}
/********* NAVBAR *********/
.navbar{
    background-color: #0000002a;
    box-shadow: 0 0 10px rgba(92, 92, 92, 0.3);
}

.nav-link{
    font-weight: 400;
    color: var(--background);
    margin: 0 30px;
    font-size: 18px;
}

.nav-link.active{
    font-weight: 600;
}
.navbar form{
    position: absolute;
    right: 0;
}
/********* ACCOMPAGNATEURS *********/
.page-acc{
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.page-acc .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    width: fit-content;
}

.page-acc .container:nth-child(1){
    margin-bottom: 4rem;
}

.page-acc h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.7rem;
    margin: 1rem 4rem;
}

.page-acc .input-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.6rem;
}

.page-acc label{
    font-weight: 500;
}

.page-acc input{
    border-radius: 6px;
    outline: none;
    border: 1px solid #ddd;
    padding: 10px 15px;
}

.btn_creer{
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: var(--secondary);
    padding: 10px 20px;
    margin-top: 10px;
    transition: .3s;
}

.un_acc{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    padding: 10px 1rem;
}

.box_list{
    width: 100%;
    outline: none;
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0.6rem;
    text-align: start;
}

.btn_supp{
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: #ff3f3f;
    padding: 10px 20px;
    transition: .3s;
}
.un_acc .btn_supp{
    margin-left: 1rem;
}

/********* Formulaire de connexion *********/

.page-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 3rem;
    color: var(--background);
}

.page-login .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    padding: 2rem 3rem;
    border-radius: .3rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    border: 2px solid rgba(255,255,255,.2);
    width: fit-content;
    backdrop-filter: blur(20px);
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

/********* Formulaire de suivis *********/

.body {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.container {
    width: 430px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 50px 35px 10px 35px;
}

.container header {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.container .form-outer {
    width: 100%;
    overflow:hidden;
}

.form-outer form {
    display: flex;
    flex-wrap: wrap;
    width: 400%;
}

.form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

.form-outer form .page .field {
    height: 45px;
    width: 330px;
    margin: 45px 0;
    display: flex;
    position: relative;
}

.form-outer form .page .field input {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 15px;
}

.form-outer form .page .field .label {
    position: absolute;
    top: -30px;
    font-weight: 500;
}

.form-outer form .page .field a {
    width: 100%;
    height: calc(100% + 5px);
    margin-top: -20px;
    border: none;
    background: var(--secondary);
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    padding: 3% 0;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}

.form-outer form .page .field button {
    width: 100%;
    height: calc(100% + 5px);
    margin-top: -20px;
    border: none;
    background: var(--secondary);
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    padding: 3% 0;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}

form .page .field select {
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}

.form-outer form .page .field a:hover {
    background: #000;
}

.form-outer form .page .field button:hover {
    background: #000;
}

.form-outer form .page .btns a{
    margin-top: -20px!important;
}

.form-outer form .page .btns button{
    margin-top: -20px!important;
}

form .page .btns a.prev {
    margin-right: 3px;
    font-size: 17px;
}

form .page .btns button.prev {
    margin-right: 3px;
    font-size: 17px;
}

form .page .btns a.next {
    margin-left: 3px;
}

form .page .btns button.next {
    margin-left: 3px;
}

.container .progress-bar {
    display: flex;
    flex-direction: row;
    margin: 40px 0;
}

.container .progress-bar .step {
    position: relative;
    text-align: center;
    width: 100%;
}

.progress-bar .step p {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 8px;
}

.progress-bar .step .bullet.active span {
    display: none;
}
.progress-bar .step .check.active {
    position: absolute;
    display: inline-block;
    color: #fff;
}

.progress-bar .step .bullet.active {
    border-color: #d43f8d;
    background: #d43f8d;

}

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
    display: none;
}

.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
    position: absolute;
    content: '';
    bottom: 11px;
    right: -38px;
    height: 3px;
    width: 37px;
    background: #262626;
}

.progress-bar .step .bullet.active:after {
    background: #d43f8d;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}

@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}

.progress-bar .step .bullet {
    position: relative;
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 50%;
    transition: 0.2s;
}

.progress-bar .step .bullet span {
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.progress-bar .step .check {
    display: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}
.page-login .input-box{
    padding: 1rem;
    background: transparent;
}

.page-login .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    padding: 0.5rem 1.5rem;
    color: var(--background);
}

.page-login .input-box i{
    position: absolute;
    right: 20%;
    margin-top: 3%;
}

.page-login.remember-forgot input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    padding: 0.5rem 1.5rem;
}

.field textarea {
    width: 310px;
    height: 100px;
    resize: none;
    margin-bottom: 10px;
}


.btn_login{
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: var(--primary);
    padding: 10px 20px;
    margin-top: 1rem;
    transition: .3s;
}

.field2 select {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.field3 input {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 15px;
    margin-bottom: 10px;
}

#label_cv {
    margin-top: -20px;
}

#label_cma {
    margin-top: -20px;
}

.div_warn {
    padding: 20px;
    background-color: #ff7b00;
    color: #fff;
}

.closebtn {
    margin-left: 15px;
    color: #fff;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: #000;
}

/*** Element invisible par défaut ***/

#div_rdc {
    display: none;
}

#div_enfant {
    display: none;
}

#preciser {
    display: none;
}

#div_france {
    display: none;
}

#div_asile {
    display: none;
}

#div_politique {
    display: none;
}

#div_soelis {
    display: none;
}

#div_cma {
    display: none;
}

#div_mission {
    display: none;
}

#div_cap {
    display: none;
}

#div_cv_oui {
    display: none;
}

#div_cv_non {
    display: none;
}

#div_permis {
    display: none;
}

#autos {
    display: none;
}

#motos {
    display: none;
}

#marchandises {
    display: none;
}

#autre_permis {
    display: none;
}

#div_vehicule_dispo {
    display: none;
}

#div_vehicule_prevu {
    display: none;
}

#BEP {
    display: none;
}

#CAP {
    display: none;
}

#BAC {
    display: none;
}

#BAC2 {
    display: none;
}

#licence {
    display: none;
}

#master1 {
    display: none;
}

#master2 {
    display: none;
}

#autre_diplome {
    display: none;
}

#formation_continue {
    display: none;
}

#div_reconv {
    display: none;
}

#div_form_prevu {
    display: none;
}

#div_reprise {
    display: none;
}

#div_form_pro {
    display: none;
}

#div_logiciel {
    display: none;
}

#qualifiante {
    display: none;
}

#diplomante {
    display: none;
}

#div_langue {
    display: none;
}

#page6 {
    display: none;
}
#page5 {
    display: none;
}
#page4 {
    display: none;
}
#page3 {
    display: none;
}
#page2 {
    display: none;
}
.horaires{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.horaire{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.horaire input{
    margin: 5px 10px;
}
/********* VOIR INSCRITS *********/
.page-inscrit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table{
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(7px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    border-spacing: 0;
    border-radius: 10px;
    width: 80%;
}

table,th,td{
    padding: 1rem;
    text-align: center;
}
thead tr{
    background-color: var(--primary);
    border-radius: 10px;
    font-size: 18px;
}
table th:first-child{
    border-radius:10px 0 0 0;
  }

table th:last-child{
    border-radius:0 10px 0 0;
}
tr:nth-child(even){
    background-color: rgb(237, 237, 237);
}
tbody tr:last-child td:first-child{
    border-radius:0 0 0 10px;
}
tbody tr:last-child td:last-child{
    border-radius:0 0 10px 0;
}
.a-modif{
    color: var(--text);
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: var(--secondary);
    padding: 10px 15px;
    margin-top: 10px;
    transition: .2s;
    text-decoration: none;
}

.a-modif:hover{
    background-color: var(--text);
    color: var(--background);
}

.search-bar{
    padding: .3rem;
    border-radius: .3rem;
    outline: none;
    border: none;
    margin: 1.5rem;
}

.page-inscrit .btn_supp:hover{
    background-color: var(--text);
    color: var(--background);
}
.a-rdv{
    color: var(--text);
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: var(--accent);
    padding: 10px 15px;
    margin-top: 10px;
    transition: .2s;
    text-decoration: none;
}

.a-rdv:hover{
    background-color: var(--text);
    color: var(--background);
}
/************ PAGE RDV *************/
.page-rdv{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    width: 100%;
}
.page-rdv table{
    margin: 1.5rem;
}
.page-rdv h1{
    font-weight: 700;
    color: var(--text);
}
.page-rdv button:hover{
    background-color: var(--text);
    color: var(--background);
}
.plan-actions{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.rdv{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}