:root {
    --text: #15020e;
    --background: #fff3fa;
    --primary: #f05bb2;
    --secondary: #f2c87e;
    --accent: #f5e44b;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins';
    background: var(--background);
}

/********* NAVBAR *********/
.navbar{
    background-color: #f05bb2;
}

.nav-link{
    font-weight: 600;
}

/********* ACCOMPAGNATEURS *********/
#creer-acc{
    background-color: var(--secondary);
    width: 100vh;
}

/********* Formulaire de connexion *********/

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    padding: 2rem;
    background: purple;
    color: #fff;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    
}